body{
  font-family: 'Lato', sans-serif;
}
.login-card{
  align-content: center;
  min-height: 70%;  
  min-height: 70vh; 
  display: flex;
  align-items: center;
 }

.login-holder{
  border-style: solid;
  border-radius: 24px;
  margin: auto;
  border-color: 1px   black;
}
.img-fluid{
  height: 240px;
  width: 480px;
}
.news-title{
  font-weight:bolder;
}
.jumbotron{
  background-color: rgb(66, 66, 66);
}
.jumbotron > h1 {
  color: #fff;
}
.add-news-btn{
  width: 50vh;
  border-radius: 24px;
  
}
.edit-news-cont{
  
  border-bottom: rgb(207, 207, 207);
  border-bottom-style: solid;
  
}